.socialWrap {
  list-style: none;
  text-align: center;

  @media (--vp-s) {
    text-align: left;
  }

  & li {
    background-color: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    height: 50px;
    line-height: 60px;
    transition: 0.5s all;
    text-align: center;
    width: 50px;

    &:hover {
      background-color: var(--brand);
      border-color: var(--brand);
    }

    @media (--vp-s) {
      height: 30px;
      line-height: 30px;
      margin-right: 8px;
      width: 30px;
    }

    @media (--vp-m) {
      height: 40px;
      line-height: 45px;
      margin-right: 10px;
      width: 40px;
    }

    & a {
      color: var(--white);
      display: block;
    }
  }

  & svg {
    fill: var(--white) !important;
    height: 25px;
    width: 25px;

    @media (--vp-s) {
      height: 15px;
      width: 15px;
    }

    @media (--vp-m) {
      height: 20px;
      width: 20px;
    }
  }
}
